// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.h-screen {
    height: 100vh;
}

.img-back {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../../public/images/tools/pattern1.jpg');
}

.no-a {
    text-decoration: none;
    color:blue;
}
.a-new {
    text-decoration: none;
    color:black;
}

.img-backlogre{
    background: url('../../public/images/concert_art/Zhaitan.jpg') no-repeat center top;
    background-size: 100%;

}

.opaco{
    opacity: .8;
}
